.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .main-content {
    flex: 1;
    overflow-y: auto;
  }
  
  .section {
    padding: 1rem;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .section-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .view-more {
    font-size: 0.875rem;
    color: blue;
    cursor: pointer;
  }
  
  .scroll-container {
    position: relative;
   
  }
  
  .scrollable-content {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    background-color: white;
  }
  
  .card {
    flex-shrink: 0;
    width: 200px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .card-image-wrapper {
    position: relative;
    height: 150px;
    padding: 10px;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #E9A617;
  }
  
  .heart-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    padding:10px;
  }
  
  .card-body {
    padding: 0.5rem;
    background-color: #FFE6AE;
  }
  
  .card-title {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .achievement {
    font-size: 0.875rem;
    color: gray;
  }
  
  .technologies {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
  }
  
  .tech {
    background:#E9A617;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.75rem;

  }
  
  .scroll-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  